@font-face {
    font-family: 'Gilroy';
    src: url(fonts/Gilroy-Regular.ttf);
}

.pt-sans-regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
  .pt-sans-bold {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
  .pt-sans-regular-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}
  
  .pt-sans-bold-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
}

body {
    margin: 0;
    padding: 0;
}

.conteiner {
    width: 100vw;
}

.wrapper {
    width: 62.5vw;
    /* border: 1px solid black; */
    margin: 0 auto;
}

/*---------------------- HEADER ----------------------*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.52vh;
    padding-bottom: 3.52vh;
}

.header-left, .header-right {
    display: flex;
    align-items: center;
}

.header-title {
    margin-left: 1.35vw;
    font-family: 'PT Sans';
    font-size: 1.6vh;
    line-height: 1.85vh;
}

.header-phone {
    margin-left: 0.47vw;
    font-family: 'PT Sans';
    font-size: 1.48vh;
    line-height: 1.92wh;
}

.header-search {
    margin-left: 1.6vw;
    padding: 0.5vw;

}

/* --------------------- DESCRIPTION ----------------- */

.description {
    margin-top: 4.35vh;
    display: flex;
    justify-content: space-between;
}

.description-left {
    padding-top: 4.26vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description-menu {
    min-width: 5.37vw;
    max-width: 19.53vw;
}

.description-title {
    font-size: 5.55vh;
    line-height: 5.93vh;
    font-family: 'Gilroy';
    color: #ffffff;
}

.description-company, .description-product {
    margin-bottom: 2.22vh;
}

.description-product, .description-goods {
    margin-top: 2.22vh;
}

.description-menu-line {
    height: 1px;
    background: linear-gradient(to right, #4B4B4B, #262625);
}

.description-menu-item {
    margin-left: 0.78vw;
}

.description-menu-content > span {
    font-family: 'PT Sans';
    font-size: 1.89vh;
    line-height: 1.89vh;
    margin-left: 0.78vw;
    color: #BEBEBE;
}

.description-menu-footer {
    display: flex;
    margin-bottom: 2.96vh;
}

.description-menu-footer-item {
    width: 31px;
    height: 2px;
    background-color: #575757;
}

.description-menu-footer-item:not(:first-child) {
    margin-left: 0.9vw;
}

.description-right {
    position: relative;
}

.description-price {
    font-family: 'PT Sans';
    font-size: 2.22vh;
    line-height: 2.22vh;
    padding: 1.38vh;
    background-color: #FF7028;
    color: white;
    position: absolute;
    top: 28.43vh;
    left: 6.30vw;
}

.description-tap {
    max-height: 51.1vh;
    display: block;
}

/*--------------------DESCRIPTION-INTRO---------------*/

.description-intro {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.intro-orange {
    font-family: 'PT Sans';
    font-size: 1.6vh;
    line-height: 2.5vh;
}

.intro-feature-content-title {
    font-weight: bold;
}

.intro-feature {
    display: flex;
    align-items: start;
}

/*---------------------- COLORS ----------------------*/

.light-gray-1 {
    color: #999999;
}
.light-gray-2 {
    color: #939393;
}
.light-gray-3 {
    color: #BEBEBE;
}
.light-gray-text {
    color: #7B7B7B;
}

.light-gray-back {
    background-color: #F6F6F6;
}

.gray-back {
    background-color: #575757;
}
.gray-border {
    border: 1px solid #494949;
}

.orange {
    color: #FE5B00;
}

.orange-back {
    background-color: #FF7028;
}

.dark-gray {
    color: #151716;
}

.dark-gray-back {
    background-color: #060707D9;
}

.dark-gray-back-2 {
    background-color: #202122;
}